*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-wrap: pretty;
}

/* * {
	color: var(--clr-txt, chartreuse);
} */

::selection {
	background-color: hsl(from var(--violet-500-alt) h s l / 0.33);
}

:where(img, picture, canvas, svg) {
	max-width: 100%;
	display: block;
}

:where(ul, ol) {
	list-style: none;
}

:where(a, button, input, textarea, address, fieldset) {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	color: inherit;
	border: none;
	outline: none;
	background: none;
	text-decoration: none;
}

:where(h1, h2, h3, h4, h5, h6) {
	display: inline-block;
	overflow-wrap: break-word;
	text-wrap: balance;
}

:where(p + p, p + ul) {
	margin-top: 0.66em;
}

html,
body {
	height: 100%;
	scroll-behavior: smooth;
	overflow: hidden;
}

body {
	position: relative;
	scroll-padding-top: var(--header-height);

	display: grid;
	grid-template-rows: 1fr auto;
}

body:has(dialog[open]) {
	overflow: hidden;
}
