:root {
	--max-content-width: 70rem;

	/* |||||||||| |||||||||| |||||||||| |||||||||| grid sizes */
	--gap-x: 1rem;

	/* |||||||||| |||||||||| |||||||||| |||||||||| garda brand palette */
	--white: #ffffff;
	--graphit-700: #292c42;

	--cyan-100: #9cdeff;
	--cyan-200: #59d7ff;
	--cyan-300: #45cdff;
	--cyan-400: #30c4ff;
	--cyan-500: #15b8ff;
	--cyan-600: #159be8;
	--cyan-700: #0e7cd0;
	--cyan-800: #075db9;
	--cyan-900: #003ea1;

	--violet-100: #ffb3fe;
	--violet-200: #f79cff;
	--violet-300: #e481ff;
	--violet-400: #d265ff;
	--violet-500: #bf4aff;
	--violet-600: #ac38f0;
	--violet-700: #9825e1;
	--violet-800: #8413d1;
	--violet-900: #7100c2;

	--warm-100: #ffd754;
	--warm-200: #fbba5e;
	--warm-300: #f89e68;
	--warm-400: #f48171;
	--warm-500: #f0647b;
	--warm-600: #d9587a;
	--warm-700: #c34c79;
	--warm-800: #ac4077;
	--warm-900: #953476;

	--cyan-300-alt: #8baaff;
	--cyan-500-alt: #6786ff;
	--violet-300-alt: #b198ff;
	--violet-500-alt: #9964ff;
	--sapphire-200: #ced5f0;
	--sapphire-800: #2b367a;

	--cyan-500-violet-500: linear-gradient(
		30deg,
		var(--cyan-500) 0%,
		var(--violet-500) 100%
	);
	--cyan-300-violet-300: linear-gradient(
		0deg,
		var(--cyan-300) 0%,
		var(--violet-300) 100%
	);

	--clr-txt: var(--white);

	/* |||||||||| |||||||||| |||||||||| |||||||||| demo & xxx */
	--thickness: 0.1rem;
	--density: 2;
	--size: calc((var(--max-content-width) - var(--gap-x) * 11) / 12);
}
