.main-header {
	position: fixed !important;
	inset: 0 0 auto 0;
	opacity: 1;
	transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.main-header.-slide-up {
	top: calc(var(--size) * -1);
	opacity: 0;
}

.main-header__group {
	display: grid;
	grid-template-columns: max-content 1fr;
	min-height: var(--size);
	align-items: center;
}

.brand-logo {
	--logo-x: 487;
	--logo-y: 80;
	--asp: var(--logo-x) / var(--logo-y);
	--img-w: min(var(--size) * 2, 50dvw);
	--fit: contain;

	width: var(--img-w);
	transition: transform 0.25s ease;
}

.brand-logo:focus-visible {
	--rad: var(--rad-inner);
}
.brand-logo:where(:focus-visible, :hover) {
	transform: scale(1.05);
}
