.main-header {
	position: fixed !important;
	inset: 0 0 auto 0;
	opacity: 1;
	transition: top 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

.main-header.-slide-up {
	top: calc(var(--size) * -1);
	opacity: 0;
}

.main-header__group {
	display: grid;
	grid-template-columns: max-content 1fr;
	min-height: var(--size);
	align-items: center;
}
