.slide-final {
	display: grid;
	grid-template-rows: min-content min-content;
	/* grid-template-columns: repeat(2, 1fr); */
	padding: 3rem;
	place-items: start;
	/* row-gap: 4rem; */
	color: var(--white);

	.ttl {
		margin-bottom: 1em;
	}

	.ttl + p {
		text-wrap: balance;
		max-width: 25ch;
	}
}

.thanks {
	--img-size: 10rem;

	display: grid;
	grid-template-columns: max-content auto;

	.ttl {
		grid-column: 1 / -1;
	}

	p {
		font-size: var(--fs-md);
	}

	.img-box {
		place-self: start;
	}
}

.lampshade {
	position: absolute;
	top: 0;
	right: -3%;
	height: 100%;
	aspect-ratio: 1384 / 1384;
	background-image: url(images/lampshade-l.png);
	background-repeat: no-repeat;
	background-size: cover;
}
