.slide {
	position: relative;
	counter-increment: slide-counter;
	-ms-overflow-style: none;
	scrollbar-width: none;
	display: grid;
	align-items: center;
	padding-block: 1rem;
	color: var(--white);
	z-index: 1;
}
