.slide-0 {
	display: grid;
	grid-template-rows: 1fr min-content;
	padding: 3rem;
	place-items: end start;
	row-gap: 4rem;
}

.ttl {
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 1rem;
}

.ttl,
.sub-ttl {
	color: var(--white);
	filter: drop-shadow(1px 1px 1px var(--graphit-700));
}

.sub-ttl {
	display: block;
	font-size: 0.69em;
	font-weight: var(--fw-lt);
	margin-top: 0.15em;

	grid-column: 2;
}

.pre {
	--deg: 180deg;

	position: relative;
	top: -0.175em;
	grid-column: 1;
	writing-mode: vertical-rl;
	transform: scale(-1);
	grid-row: span 2;
}

.tag {
	background-color: var(--white);
	color: var(--graphit-700);
	max-width: fit-content;
	padding: 0.66em 1.33em;
	border-radius: 1rem;
}
