.beam-1,
.beam-2 {
	overflow: hidden;
	z-index: -1;
}
.beam-1::after,
.beam-2::after {
	position: absolute;
	content: "";
	width: 100%;
	aspect-ratio: 1;
	pointer-events: none;
	backdrop-filter: contrast(1.25) brightness(1.25);
}

.beam-1::after {
	top: 0%;
	left: -2%;
	clip-path: polygon(0% 0%, 55% 100%, 15% 100%);
	background-image: linear-gradient(
		180deg,
		hsl(from var(--cyan-500) h s l / 0.33) 20%,
		hsl(from var(--violet-500) h s l / 0.66) 60%
	);
}

/* -1% -5%, 35% 70%, 10% 80% */

.beam-2::after {
	top: 0;
	right: 0;
	clip-path: polygon(105% -5%, 0% 45%, 25% 100%);
	background-image: linear-gradient(
		to left,
		hsl(from var(--cyan-500) h s l / 0.5) 20%,
		hsl(from var(--violet-500) h s l / 1) 60%
	);
}
