.beam-left {
	overflow: hidden;
	z-index: -1;
}
.beam-left::after {
	position: absolute;
	content: "";
	width: 100%;
	aspect-ratio: 1;
	pointer-events: none;
	backdrop-filter: contrast(1.25) brightness(1.25);
}

.beam-left::after {
	top: -3%;
	left: -0.25%;
	clip-path: polygon(0% 0%, 60% 100%, 12% 100%);
	background-image: linear-gradient(
		180deg,
		hsl(from var(--cyan-500) h s l / 0.33) 20%,
		hsl(from var(--violet-500) h s l / 0.66) 60%
	);
}
