.bg-img {
	--flipX: scaleX(calc(var(--scale, 1) * -1)) scaleY(var(--scale, 1));
	--overlay-0: linear-gradient(
		90deg,
		hsl(0, 0%, 0%, 0.25) 0%,
		hsl(0, 0%, 0%, 0.25) 100%
	);
	--overlay-1: linear-gradient(
		90deg,
		hsl(0, 0%, 0%, 0.66) 25%,
		hsl(0, 0%, 0%, 0) 75%
	);

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		background: var(--overlay-0), var(--overlay-1), url(images/img-070.png);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: top left;
		/* transform: var(--flipX); */
	}
}
