.bg-solid {
	background-color: var(--graphit-700);
	overflow: hidden;
	position: absolute;
	inset: 0;
	grid-column: 1;
}

.glow-corners,
.glow-bottom {
	--glow-left: radial-gradient(
		circle,
		hsl(from var(--violet-100) h s l / 0.15) 30%,
		hsl(from var(--violet-500) h s l / 0.1) 35%,
		hsl(from var(--cyan-500) h s l / 0.05) 50%,
		hsl(from var(--cyan-300) h s l / 0.025) 60%,
		hsl(from var(--graphit-700) h s l / 1) 100%
	);
	--glow-right: radial-gradient(
		circle,
		hsl(from var(--cyan-100) h s l / 0.15) 0%,
		hsl(from var(--cyan-500) h s l / 0.075) 25%,
		hsl(from var(--violet-500) h s l / 0.025) 50%,
		hsl(from var(--violet-300) h s l / 0.025) 75%,
		hsl(from var(--graphit-700) h s l / 1) 100%
	);
	--glow-bottom: radial-gradient(
		circle,
		hsl(from var(--violet-500) h s l / 0.05) 66%,
		hsl(from var(--graphit-700) h s l / 1) 100%
	);

	&::before,
	&::after {
		content: "";
		position: absolute;
		width: var(--size);
		aspect-ratio: 1;
		border-radius: 50%;
		filter: blur(100vw);
		background-repeat: no-repeat;
	}
}

.glow-corners {
	&::before {
		--size: 130rem;

		top: calc(var(--size) * -0.6);
		left: calc(var(--size) * -0.7);
		background: var(--glow-left);
	}

	&::after {
		--size: 50rem;

		top: calc(var(--size) * -0.6);
		left: calc(var(--size) * 1);
		background: var(--glow-right);
	}
}

.glow-bottom {
	&::before {
		--size: 30rem;

		bottom: calc(var(--size) * -0.9);
		left: calc(var(--size) * 1.2);
		background: var(--glow-bottom);
	}

	&::after {
		display: none;
	}
}

.figure {
	position: absolute;
	width: 6rem;
	aspect-ratio: 260 / 584;
	z-index: -1;
}

.lines {
	position: absolute;
	right: 0;
	width: 32rem;
	aspect-ratio: 1060 / 748;
	z-index: -1;
}

.bg-solid.final {
	.slide-logo,
	.glow-bottom,
	.figure {
		display: none;
	}
	.glow-corners {
		--glow-right: radial-gradient(
			circle,
			hsl(from var(--cyan-500) h s l / 0.25) 0%,
			hsl(from var(--violet-500) h s l / 0.025) 50%,
			hsl(from var(--graphit-700) h s l / 1) 100%
		);

		&::before {
			display: none;
		}

		&::after {
			--size: 100rem;

			top: calc(var(--size) * -0.5);
			left: calc(var(--size) * 0.33);
			background: var(--glow-right);
		}
	}
}
