.bg-solid {
	background-color: var(--graphit-700);
	overflow: hidden;
}

.glow-corners,
.glow-bottom {
	--glow-left: radial-gradient(
		circle,
		hsl(from var(--violet-100) h s l / 0.15) 30%,
		hsl(from var(--violet-500) h s l / 0.1) 35%,
		hsl(from var(--cyan-500) h s l / 0.075) 50%,
		hsl(from var(--cyan-300) h s l / 0.05) 60%
	);
	--glow-right: radial-gradient(
		circle,
		hsl(from var(--cyan-100) h s l / 0.15) 0%,
		hsl(from var(--cyan-500) h s l / 0.075) 25%,
		hsl(from var(--violet-500) h s l / 0.05) 50%,
		hsl(from var(--violet-300) h s l / 0.05) 75%
	);
	--glow-bottom: radial-gradient(
		circle,
		hsl(from var(--cyan-100) h s l / 0.15) 5%,
		hsl(from var(--cyan-300) h s l / 0.075) 25%,
		hsl(from var(--violet-500) h s l / 0.05) 33%,
		hsl(from var(--violet-300) h s l / 0.05) 66%
	);

	&::before,
	&::after {
		content: "";
		position: absolute;
		inset: 0;
		width: var(--size);
		aspect-ratio: 1;
		border-radius: 50%;
		filter: blur(100vw);
		background-repeat: no-repeat;
	}
}

.glow-corners {
	&::before {
		--size: 130rem;

		top: calc(var(--size) * -0.7);
		left: calc(var(--size) * -0.6);
		background: var(--glow-left);
	}

	&::after {
		--size: 50rem;

		top: calc(var(--size) * -0.55);
		left: calc(var(--size) * 1);
		background: var(--glow-right);
	}
}

.glow-bottom {
	&::before {
		--size: 30rem;

		top: calc(var(--size) * 1.1);
		left: calc(var(--size) * 1.2);
		background: var(--glow-bottom);
	}
}
